.Searchresult{
    padding: 30px;
    border: 1px solid lightgray;
    margin: 30px;
    list-style: none;
    display: flex;
    width: 60%;
    margin-left: 0;
}

.details{
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: lightgreen;
}